.slideshow__items {
  scroll-snap-type: x mandatory;
  scroll-behavior: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: calc(100%);
}
.slideshow__item {
  scroll-snap-align: start;
}

.slideshow__controls {
  bottom: 0;
  height: 100px;
}
.slideshow__item__content {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.slideshow__controls__navigation {
  color: var(--button-text);
}
.slideshow__controls__btn {
  width: 28px;
  height: 28px;
  background: rgba(var(--color-primary-foreground), 0.7);
  color: var(--button-text);
  border: none;
}
.js-slideshow-total,
.js-slideshow-current {
  margin: 0 5px;
}
.slideshow__item__wrapper {
  min-height: var(--slide-height);
}

@media screen and (min-width: 769px) {
  img.slideshow__item__image-item--loaded {
    animation: fadeInAnimation 0.5s linear;
    -webkit-animation: fadeInAnimation 0.5s linear;
    -moz-animation: fadeInAnimation 0.5s linear;
    -o-animation: fadeInAnimation 0.5s linear;
    -ms-animation: fadeInAnimation 0.5s linear;
  }
}

@media screen and (max-width: 768px) {
  img.slideshow__item__image-item--loaded:not(.slideshow__item__image-item--first) {
    animation: fadeInAnimation 0.5s linear;
    -webkit-animation: fadeInAnimation 0.5s linear;
    -moz-animation: fadeInAnimation 0.5s linear;
    -o-animation: fadeInAnimation 0.5s linear;
    -ms-animation: fadeInAnimation 0.5s linear;
  }
}

.slideshow__item__content p {
  margin: 0;
}
